EVENT_GRID_ENDPOINT=https://mobilehub-dev-azweu-evg.westeurope-1.eventgrid.azure.net/api/events
EVENT_GRID_KEY=secret
SERVER_PORT=3004

MQTT_BROKER_URL=wss://ines-gpu-01.informatik.uni-mannheim.de/meh/mqtt
MQTT_BROKER_PORT=443
MQTT_BROKER_USERNAME=secret
MQTT_BROKER_PASSWORD=secret

ROOT=mobil-e-hub
VERSION=v1
